@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: '楷体';
}
.body{
    float: left;
    height: 93vh;
    width: 93%;
    /*background-image: url("../images/gblogin2.jpg");*/
}
.body .f_head{
    height: 7vh;
    width: 100%;
}
.body .f_head ul{
    display: block;
    height: 7vh;
    width: 100%;
    border-bottom: 1px #a6a6a6 solid;
    padding-left: 5%;
}
.body .f_head ul li{
    font-size: 18px;
    display: block;
    float: left;
    height: 5vh;
    margin-top: 2vh;
    width: 200px;
    line-height: initial;
    padding-top:10px;
    cursor: pointer;
    text-align: center;
    color: white;
}
.a_active{
    border-left: 1px #a6a6a6 solid;
    border-top: 1px #a6a6a6 solid;
    border-right: 1px #a6a6a6 solid;
    background-color: #cbcbcb;
    border-radius: 5px 5px 0 0;
}
.f_context div{
    height: 80vh;
    width: 90%;
    margin: 15px auto;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    position: relative;
    border-radius: 10px;
}
.layui-tab-content h2{
    margin: 10px;
    padding-top: 10px;
    cursor: pointer;
}
.f_context .act{
    display: block;
}
.layui-tab-content form{
    font-size: 16px;
}
.add_player_a{
    display: block;
    height: 10vh;
    padding: 10px;
    width: 35%;
    float: left;
}
.add_player_a input{
    height: 32px;
    width: 40%;
    outline: none;
    border: 1px silver solid;
    padding-left: 5px;
    border-radius: 5px;
}
.add_player_a span{
    width: 40%;
    height: 10px;
    display: block;
    font-size: 12px;
    color: red;
    visibility: hidden;
}
.add_player_a select{
    height: 32px;
    width: 40%;
    outline: none;
    border: 1px silver solid;
    cursor: pointer;
    border-radius: 5px;
}
.add_player_a select option{
    outline: none;
    border: 1px silver solid;
    cursor: pointer;
}
.add_player_b{
    height: 10vh;
    width: 100%;
    display: block;
    float: left;
    padding: 10px;
}
.add_player_b select{
    height: 32px;
    width: 200px;
    outline: none;
    border: 1px silver solid;
    cursor: pointer;
    border-radius: 5px;
}
.add_player_b select option{
    outline: none;
    border: 1px silver solid;
    cursor: pointer;
}
.layui-tab-content p{
    position: absolute;
    left: 30px;
    bottom: 160px;
    flex: 1;
    height: 35px;
    display: block;
    width: 200px;
    margin-left: 120px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
.add_player_b span{
    width: 40%;
    height: 10px;
    display: block;
    font-size: 12px;
    color: red;
    visibility: hidden;
}