@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: '楷体';
}
.body {
    float: left;
    height: 93vh;
    width: 93%;
    /*background-image: url("../images/gblogin2.jpg");*/
}
body .layui-card-body{
    height: 40px;
}
body .money_msg{
    display: flex;
    flex: 1;
    float: left;
    height: 50px;
    margin-left: 40px;
}