<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加球员</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/system_addpeople.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hsycmsAlert.css' %}">
    <script src="{% static 'js/AllSchool.js' %}"></script>
    <script src="{% static 'js/three_city.js' %}"></script>
    <script src="{% static 'js/hsycmsAlert.js' %}"></script>
    <script src="{% static 'js/pcasunzip.js' %}" charset="gb2312"></script>
    <script src="{% static 'js/jQuery-3.5.1-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript">
           function tips(txt){
                hsycms.tips('tips',txt,function(){
             },2000)
           }
        $(document).ready(function () {
            var $li = $('.body .f_head ul li');
            var $div = $('.body .f_context div');
            $li.click(function () {
                $(this).addClass('a_active').siblings().removeClass('a_active');
                $div.eq($(this).index()).addClass('act').siblings().removeClass('act')
            });
            var $input = $('input');
            $input.focus(function () {
                var value = $(this).val();
                if (value===''){
                    $(this).next().css('visibility','visible');
                }else{
                    $(this).next().css('visibility','hidden')
                }
            });
            $input.blur(function () {
                var value = $(this).val();
                if(value ===''){
                    $(this).next().css('visibility','visible')
                }else{
                    $(this).next().css('visibility','hidden')
                }
            });
            var pattern = /^1[34578]\d{9}$/;
            var $phone = $('.phone');
            $phone.focus(function () {
                var value = $(this).val();
                if(pattern.test(value)){
                    $(this).next().css('visibility','hidden')
                }else {
                    $(this).next().css('visibility','visible')
                }
            });
            $phone.blur(function () {
                var value = $(this).val();
                if(pattern.test(value)){
                    $(this).next().css('visibility','hidden')
                }else {
                    $(this).next().css('visibility','visible')
                }
            });
            var $get_player = $('#get_player');
            $get_player.click(function () {
                var username = document.getElementById('username').value;
                var phone = document.getElementById('phone').value;
                var time = document.getElementById('time').value;
                /*获取所在区域*/
                var user_pre = document.getElementsByName('user.province')[0].value;
                var user_city = document.getElementsByName('user.city')[0].value;
                var user_area = document.getElementsByName('user.area')[0].value;
                var area = user_pre+'-'+user_city+'-'+user_area;
                /*获取毕业学校*/
                var u_pre=$("#province option:selected").text();
                var u_city=$("#city option:selected").text();
                var u_school=$("#school option:selected").text();
                var where = document.getElementById('where').value;
                var school =u_pre+'-'+u_city+'-'+u_school;
                if(username ===''){
                    $('#username').next().css('visibility','visible')
                }else if (pattern.test(phone)===false){
                    $('#phone').next().css('visibility','visible')

                }else if (time === ''){
                    $('#time').next().css('visibility','visible')
                }else{
                    console.log('启动Ajax请求...');
                    $.ajax({
                        async:true,
                        url:'/player/create_player/',
                        type:'post',
                        headers:{"X-CSRFToken":$.cookie("csrftoken")},
                        data:{
                            'username':username,
                            'phone':phone,
                            'time':time,
                            'area':area,
                            'school':school,
                            'where':where
                        },
                        success:function (data) {
                            tips(data)
                        },
                        error:function (errorMsg) {
                            tips(errorMsg)
                        }
                    });
                }
                {#alert(username+phone+time);#}
            });
            var $add_role = $('#add_role');
            $add_role.click(function () {
                var username = document.getElementById('b_name').value;
                var phone = document.getElementById('b_phone').value;
                var time = document.getElementById('b_time').value;
                /*获取所在区域*/
                var user_pre = document.getElementsByName('user.province1')[0].value;
                var user_city = document.getElementsByName('user.city1')[0].value;
                var user_area = document.getElementsByName('user.area1')[0].value;
                var area = user_pre+'-'+user_city+'-'+user_area;
                /*获取毕业学校*/
                var u_pre=$("#province1 option:selected").text();
                var u_city=$("#city1 option:selected").text();
                var u_school=$("#school1 option:selected").text();
                var school =u_pre+'-'+u_city+'-'+u_school;
                var role = document.getElementById('role').value;
                if(username ===''){
                    $('#username').next().css('visibility','visible')
                }else if (pattern.test(phone)===false){
                    $('#phone').next().css('visibility','visible')
                }else if (time === ''){
                    $('#time').next().css('visibility','visible')
                }else{
                    $.ajax({
                        async: true,
                        url: '/player/create_role/',
                        type: 'post',
                        headers:{"X-CSRFToken":$.cookie("csrftoken")},
                        data:{
                            'username':username,
                            'phone':phone,
                            'time':time,
                            'area':area,
                            'school':school,
                            'role':role
                        },
                        success:function (data) {
                            tips(data)
                        },
                        error:function (errorMsg) {
                            tips(errorMsg)
                        }
                    })
                }
            })
        });
    </script>
</head>
<body>
{% include 'system_index.html' %}
<div class="body">
    <div class="f_head">
        <ul>
            <li class="a_active">新增球员</li>
            <li>新增(教练/球探)</li>
        </ul>
    </div>
    <div class="f_context">
        <div class="add act">
            <h2>基本信息</h2>
            <form action="" method="post">
                {% csrf_token %}
                <label for="" class="add_player_a">
                    姓&nbsp;&nbsp;&nbsp;&nbsp;名:
                    <input type="text" placeholder="请输入名字" name="username" id="username">
                    <span>*姓名不能为空</span>
                </label>
                <label for="" class="add_player_a">
                    球场位置:
                    <select name="where" id="where">
                        <option value="控球后卫">控球后卫</option>
                        <option value="得分后卫">得分后卫</option>
                        <option value="小前锋">小前锋</option>
                        <option value="大前锋">大前锋</option>
                        <option value="中锋">中锋</option>
                    </select>
                </label>
                <label for="" class="add_player_a">
                    手机号码:
                    <input type="text" class="phone" placeholder="请输入手机号" name="phone" id="phone">
                    <span>*请输入正确的手机号</span>
                </label>
                <label for="" class="add_player_a">
                    出生日期:
                    <input type="date" name="time" id="time">
                    <span>*出生日期不能为空</span>
                </label>
                <label for="" class="add_player_b">
                    所在区域:(省/市)
                    <select name="user.province"></select>
                    (市)
                    <select name="user.city"></select>
                    (区/县)
                    <select name="user.area"></select>
                </label>
                <label for="" class="add_player_b">
                    毕业学校:(省/市)
                    <select id="province" name="province"></select>
                    (市)
                    <select id="city" name="city"></select>
                    (高&nbsp;校)
                    <select id="school" name="school"></select>
                </label>
                <p id="get_player">提交</p>
            </form>
        </div>
        <div class="add">
           <h2>基本信息</h2>
            <form action="" method="post">
                {% csrf_token %}
                <label for="" class="add_player_a">
                    姓&nbsp;&nbsp;&nbsp;&nbsp;名:
                    <input type="text" placeholder="请输入名字" name="b_name" id="b_name">
                    <span>*姓名不能为空</span>
                </label>
                <label for="" class="add_player_a">
                    角&nbsp;&nbsp;&nbsp;&nbsp;色:
                    <select name="role" id="role">
                        <option value="教练">教练</option>
                        <option value="球探">球探</option>
                    </select>
                </label>
                <label for="" class="add_player_a">
                    手机号码:
                    <input type="text" class="phone" placeholder="请输入手机号" name="b_phone" id="b_phone">
                    <span>*请输入正确的手机号</span>
                </label>
                <label for="" class="add_player_a">
                    出生日期:
                    <input type="date" name="b_time" id="b_time">
                    <span>*出生日期不能为空</span>
                </label>
                <label for="" class="add_player_b">
                    所在区域:(省/市)
                    <select name="user.province1"></select>
                    (市)
                    <select name="user.city1"></select>
                    (区/县)
                    <select name="user.area1"></select>
                </label>
                <label for="" class="add_player_b">
                    毕业学校:(省/市)
                    <select id="province1" name="province"></select>
                    (市)
                    <select id="city1" name="city"></select>
                    (高&nbsp;校)
                    <select id="school1" name="school"></select>
                </label>
                <p id="add_role">提交</p>
            </form>
        </div>
    </div>
</div>
 <div class="hsycms-model-mask" id="mask-tips"></div>
 <div class="hsycms-model hsycms-model-tips" id="tips">
 <div class="hsycms-model-text">这里是提示内容</div>
 </div>
</body>
<script type="text/javascript">
    new PCAS("user.province","user.city","user.area","重庆市","重庆市","忠县");
    new PCAS("user.province1","user.city1","user.area1","重庆市","重庆市","忠县");
</script>
</html>