<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>财务管理</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/system_finance.css' %}">
    <link rel="stylesheet" href="{% static 'css/hsycmsAlert.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <script src="{% static 'js/jQuery-3.5.1-min.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
</head>
<body>
{% include 'system_index.html' %}
<div class="body">
    这是财务管理中心
</div>
</body>
</html>