<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>战术管理</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/system_tactics.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/hsycmsAlert.css' %}">
    <script src="{% static 'js/jQuery-3.5.1-min.js' %}"></script>
    <script src="{% static 'js/hsycmsAlert.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
</head>
<body>
{% include 'system_index.html' %}
<div class="body">
    <script type="text/html" id="toolbarDemo">
        <form class="layui-form" action="">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">搜索选择框</label>
                <div class="layui-input-inline">
                    <select name="modules" lay-verify="required" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        <option value="1">layer</option>
                        <option value="2">form</option>
                        <option value="3">layim</option>
                        <option value="4">element</option>
                        <option value="5">laytpl</option>
                        <option value="6">upload</option>
                        <option value="7">laydate</option>
                        <option value="8">laypage</option>
                        <option value="9">flow</option>
                        <option value="10">util</option>
                        <option value="11">code</option>
                        <option value="12">tree</option>
                        <option value="13">layedit</option>
                        <option value="14">nav</option>
                        <option value="15">tab</option>
                        <option value="16">table</option>
                        <option value="17">select</option>
                        <option value="18">checkbox</option>
                        <option value="19">switch</option>
                        <option value="20">radio</option>
                    </select>
                </div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择框</label>
                <div class="layui-input-block">
                    <select name="city" lay-verify="required">
                        <option value=""></option>
                        <option value="0">北京</option>
                        <option value="1">上海</option>
                        <option value="2">广州</option>
                        <option value="3">深圳</option>
                        <option value="4">杭州</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="layui-btn-container">
            <button type="button" class="layui-btn" onclick="window.open('/player/create_tactics/',target='_self')">
                新建战术
            </button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        </div>
    </script>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <div class="hsycms-model-mask" id="mask-confirm"></div>
    <div class="hsycms-model hsycms-model-confirm" id="confirm">
        <div class="hscysm-model-title">系统提示</div>
        <div class="hsycms-model-text"></div>
        <div class="hsycms-model-btn">
            <button type="button" class="cancel">取消</button>
            <button type="button" class="ok">确定</button>
        </div>
    </div>
    <script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
                , url: '/player/data/'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: []
                , title: '用户数据表'
                , cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 60, fixed: 'left', unresize: true, sort: true}
                    , {field: 'title', title: '名称', width: 120,}
                    , {field: 'context', title: '战术内容', width: 320, edit: 'text'}
                    , {field: 'main_player', title: '指导教练', width: 120}
                    , {field: 'start_player', title: '进攻发起者', width: 120}
                    , {field: 'end_player', title: '进攻终结者', width: 120}
                    , {field: 'create_user', title: '创建人', width: 120}
                    , {field: 'update_user', title: '修改人', width: 120}
                    , {field: 'team', title: '球队名称', width: 120}
                    , {field: 'create_time', title: '创建时间', width: 180, sort: true}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                ]]
                , page: true
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var date = new Array();
                        var data = checkStatus.data;
                        for(i=0;i<data.length;i++){
                            date.push(data[i].id)
                        }
                        hsycms.confirm('confirm', '确定删除数据吗',
                        function () {
                            $.ajax({
                                async: true,
                                url: '/player/del_tactic/',
                                type: 'post',
                                headers: {"X-CSRFToken": $.cookie("csrftoken")},
                                data: JSON.stringify(date),
                                success: function (success) {
                                    table.reload('test', {
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                        , where: {
                                            url:'/player/data/'
                                        }
                                    }, 'data');
                                    layer.msg('删除成功')
                                },
                                error: function (error) {
                                    layer.msg(JSON.stringify(error['msg']))
                                }
                            })
                        },
                        function (res) {
                            layer.msg('取消删除')
                        },
                    );
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选');
                        break;

                    //自定义头工具栏右侧图标 - 提示
                    case 'LAYTABLE_TIPS':
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                        break;
                }
            });

            function tips(txt) {
                hsycms.tips('tips', txt, function () {
                }, 2000)
            }

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data.id;
                var date = new Array();
                date.push(data);
                if (obj.event === 'del') {
                    hsycms.confirm('confirm', '确定删除数据吗',
                        function () {
                            $.ajax({
                                async: true,
                                url: '/player/del_tactic/',
                                type: 'post',
                                headers: {"X-CSRFToken": $.cookie("csrftoken")},
                                data: JSON.stringify(date),
                                success: function (success) {
                                    table.reload('test', {
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                        , where: {
                                            url:'/player/data/'
                                        }
                                    }, 'data');
                                    layer.msg('删除成功')
                                },
                                error: function (error) {
                                    tips(JSON.stringify(error['msg']))
                                }
                            })
                        },
                        function (res) {
                            layer.msg('取消删除')
                        },
                    );
                    return false;
                } else if (obj.event === 'edit') {
                    layer.prompt({
                        formType: 2
                        , value: data.email
                    }, function (value, index) {
                        obj.update({
                            email: value
                        });
                        layer.close(index);
                    });
                }
            });
        });
    </script>
</div>
</body>
</html>