<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招募球员</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/system_recruit.css' %}">
    <link rel="stylesheet" href="{% static 'css/hsycmsAlert.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'js/jQuery-3.5.1-min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/hsycmsAlert.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
    <script type="text/javascript">
        function clearNumber(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, "");
            obj.value = obj.value.replace(/\.{2,}/g, ".");
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        }

        function add_jx(userid, name) {
            hsycms.confirm('confirm', '确认要将' + name + '加入集训名单吗？',
                function () {
                    $.ajax({
                        async: true,
                        url: '/player/add_to_jx/',
                        type: 'post',
                        headers: {"X-CSRFToken": $.cookie("csrftoken")},
                        data: {
                            'userid': userid
                        },
                        success: function (success) {
                            layer.msg(success['msg'])
                        },
                        error: function (error) {
                            layer.msg(error['msg'])
                        }
                    })
                },
                function (res) {
                    layer.msg('取消操作')
                },
            )
        }
    </script>
</head>
<body>
{% include 'system_index.html' %}
<div class="body">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">全部</li>
            <li>集训中</li>
            <li>实训中</li>
        </ul>
        <form class="layui-form" action="" method="post">
            {% csrf_token %}
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">球员名称</label>
                <div class="layui-input-block">
                    <input type="text" name="" id="name" lay-verify="title" autocomplete="off"
                           placeholder="请输入球员名字"
                           class="layui-input" style="width: 300px;margin-left: -10px">
                </div>
            </div>
            <i class="layui-btn layui-btn-primary layui-icon layui-icon-search"
               style="font-size: 24px;margin-top: -5px;margin-left: -9px" id="showall"></i>
            <p class="layui-btn layui-btn-primary" style="margin-top: 3px" id="chong">重置</p>
            <br>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">年&nbsp;&nbsp;&nbsp;&nbsp;龄</label>
                <div class="layui-input-inline">
                    <select name="modules" lay-verify="required" lay-filter="all_team" lay-search="all_team"
                            id="age">
                        <option value="">请选择年龄</option>
                        <option value="1">0-20</option>
                        <option value="2">20-30</option>
                        <option value="3">30-100</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
                <div class="layui-input-inline">
                    <select name="modules" lay-verify="required" lay-filter="all_team" lay-search="all_team"
                            id="sex">
                        <option value="">请选择性别</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">状&nbsp;&nbsp;&nbsp;&nbsp;态</label>
                <div class="layui-input-inline">
                    <select name="modules" lay-verify="required" lay-filter="all_team" lay-search="all_team"
                            id="state">
                        <option value="">请选择状态</option>
                        <option value="男">健康</option>
                        <option value="女">伤病</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">位&nbsp;&nbsp;&nbsp;&nbsp;置</label>
                <div class="layui-input-inline">
                    <select name="modules" lay-verify="required" lay-filter="all_team" lay-search="all_team"
                            id="where">
                        <option value="">请选择球员位置</option>
                        <option value="控球后卫">控球后卫</option>
                        <option value="得分后卫">得分后卫</option>
                        <option value="小前锋">小前锋</option>
                        <option value="大前锋">大前锋</option>
                        <option value="中锋">中锋</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
                <table class="layui-hide" id="all_player" lay-filter="all_player"></table>
                <script type="text/html" id="allDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="details">加入集训名单</a>
                </script>
            </div>
            <div class="layui-tab-item">
                <table class="layui-hide" id="jx_player" lay-filter="jx_player"></table>
                <script type="text/html" id="jxDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="details">试训</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">移除</a>
                </script>
            </div>
            <div class="layui-tab-item">
                <table class="layui-hide" id="sx_player" lay-filter="sx_player"></table>
                <script type="text/html" id="sxDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="details">签约</a>
                </script>
            </div>
        </div>
    </div>
</div>
<div class="hsycms-model-mask" id="mask-confirm"></div>
<div class="hsycms-model hsycms-model-confirm" id="confirm">
    <div class="hscysm-model-title">系统提示</div>
    <div class="hsycms-model-text">确定要将此球员加入集训名单？</div>
    <div class="hsycms-model-btn">
        <button type="button" class="cancel">取消</button>
        <button type="button" class="ok">确定</button>
    </div>
</div>
<div class="hsycms-model-mask" id="mask-confirm_sx"></div>
<div class="hsycms-model hsycms-model-confirm_sx" id="confirm_sx">
    <div class="hscysm-model-title">录入球员数据</div>
    <div class="sx_data">
        <h3 style="margin-top: 0;padding: 0 0 20px 0;cursor: pointer">基本信息</h3>
        <form action="">
            <label for="">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：
                <input type="text" disabled="disabled" id="user_name" value="">
            </label>
            <label for="">身&nbsp;&nbsp;高&nbsp;&nbsp;(cm)：
                <input type="text" onkeyup="clearNumber(this)" id="height">
                <span>*身高不能为空</span>
            </label>
            <label for="">体&nbsp;&nbsp;重&nbsp;&nbsp;(kg)：
                <input type="text" onkeyup="clearNumber(this)" id="weight">
                <span>*体重不能为空</span>
            </label>
            <label for="">体&nbsp;&nbsp;脂&nbsp;&nbsp;&nbsp;(%)：
                <input type="text" onkeyup="clearNumber(this)" id="body_fat">
                <span>*体脂不能为空</span>
            </label>
            <label for="">站立摸高(cm)：
                <input type="text" onkeyup="clearNumber(this)" id="s_reach">
                <span>*站立摸高不能为空</span>
            </label>
            <label for="">臂&nbsp;&nbsp;展&nbsp;&nbsp;(cm)：
                <input type="text" onkeyup="clearNumber(this)" id="wingspan">
                <span>*臂展不能为空</span>
            </label>
            <label for="">卧&nbsp;&nbsp;推&nbsp;&nbsp;(cm)：
                <input type="text" onkeyup="clearNumber(this)" id="b_press">
                <span>*卧推不能为空</span>
            </label>
            <label for="">冲&nbsp;刺&nbsp;跑&nbsp;(s)：
                <input type="text" onkeyup="clearNumber(this)" id="s_run">
                <span>*冲刺跑不能为空</span>
            </label>
            <label for="">折&nbsp;返&nbsp;跑&nbsp;(s)：
                <input type="text" onkeyup="clearNumber(this)" id="b_run">
                <span>*折返跑不能为空</span>
            </label>
            <label for="">罚&nbsp;&nbsp;篮&nbsp;&nbsp;&nbsp;(%)：
                <input type="text" onkeyup="clearNumber(this)" id="f_basket">
                <span>*罚篮不能为空</span>
            </label>
            <div style="display: block;height: 70px;width: 600px;float:left;margin-top: 20px">技术特点：
                <textarea name="" id="specialty" cols="76" rows="2" style="resize: none;padding-left: 10px"></textarea>
            </div>
        </form>
    </div>
    <div class="hsycms-model-btn">
        <button type="button" class="cancel">取消</button>
        <button type="button" class="ok">确定</button>
    </div>
</div>
<div class="hsycms-model-mask" id="mask-confirm_qy"></div>
<div class="hsycms-model hsycms-model-confirm_qy" id="confirm_qy">
    <div class="hscysm-model-title">球员合同</div>
    <div class="qy_div">
        <p>甲方:<span id="boss_name">{{ date.name }}</span></p>
        <p>乙方:<span id="u_name"></span></p>
        <label for="">合同类型:
            <select name="baoz" id="baoz">
                <option value="true">保障合同</option>
                <option value="false">非障合同</option>
            </select>
        </label>
        <label for="">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;限:
            <input type="number" id="year"
                   onblur="if(value>10){value=10}if (value<=0){value=1}else{value=Math.floor(value)}" value="1">（年）
            <span>*请输入年限</span>
        </label>
        <label for="">薪&nbsp;&nbsp;&nbsp;&nbsp;资:
            <input type="number" id="money" onblur="if(value<100000){value=100000}else{value=Math.round(value*100)/100}"
                   value="100000">（元）
            <span>*请输入薪资</span>
        </label>
        <label for="">交易否决权:
            <input type="checkbox" id="jiaoyi">
        </label>
        <label for="">球员选项:
            <input type="checkbox" id="p_chance">
        </label>
        <div class="player_chance">第
            <input type="number" id="p_year"
                   onblur="if(value>10){value=10}if (value<=0){value=1}else{value=Math.round(value*100)/100}" value="1">年为球员选项
        </div>
    </div>
    <div class="hsycms-model-btn">
        <button type="button" class="cancel">取消</button>
        <button type="button" class="ok">确定</button>
    </div>
</div>
<div class="hsycms-model-mask" id="mask-tips"></div>
<div class="hsycms-model hsycms-model-tips" id="tips">
    <div class="hsycms-model-text">这里是提示内容</div>
</div>
<script>
    function renderForm() {
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    }

    $('#p_chance').click(function () {
        if ($("#p_chance").is(':checked')) {
            $('.player_chance').css('visibility', 'visible')
        } else {
            $('.player_chance').css('visibility', 'hidden')
        }
    })
    layui.use(['element', 'table', 'form'], function () {
        $('#showall').click(function () {
            if (html_index === 2) {
                var table = layui.table;
                var name = document.getElementById('name').value;
                var age = document.getElementById('age').value;
                var state = document.getElementById('state').value;
                var where = document.getElementById('where').value;
                var sex = document.getElementById('sex').value;
                table.reload('sx_player', {
                    where: {
                        'name': name,
                        'age': age,
                        'sex': sex,
                        'state': state,
                        'where': where,
                    },
                    page: {
                        curr: 1
                    }
                }, 'data')
            } else {
                demo(table_id, table_url, table_tool)
            }
        })
        $('#chong').click(function () {
            document.getElementById('name').value = '';
            document.getElementById('age').value = '';
            document.getElementById('state').value = '';
            document.getElementById('where').value = '';
            document.getElementById('sex').value = '';
            renderForm();
            if (html_index === 2) {
                var table = layui.table;
                table.reload('sx_player', {
                    where: {
                        'name': '',
                        'age': '',
                        'sex': '',
                        'state': '',
                        'where': '',
                    },
                    page: {
                        curr: 1
                    }
                }, 'data')
            } else {
                demo(table_id, table_url, table_tool)
            }
        })
        var html_index;
        var table_id = 'all_player'
        var table_url = '/player/saplayer/'
        var table_tool = 'allDemo'
        demo(table_id, table_url, table_tool)
        var element = layui.element,
            form = layui.form;
        form.on('select', function () {
            if (html_index === 2) {
                var name = document.getElementById('name').value;
                var age = document.getElementById('age').value;
                var state = document.getElementById('state').value;
                var where = document.getElementById('where').value;
                var sex = document.getElementById('sex').value;
                var table = layui.table;
                table.reload('sx_player', {
                    where: {
                        'name': name,
                        'age': age,
                        'state': state,
                        'where': where,
                        'sex': sex,
                    },
                    page: {
                        curr: 1
                    }
                }, 'data')
            } else {
                demo(table_id, table_url, table_tool)
            }
        })
        element.on('tab(docDemoTabBrief)', function (data) {
            document.getElementById('name').value = '';
            document.getElementById('age').value = '';
            document.getElementById('state').value = '';
            document.getElementById('where').value = '';
            document.getElementById('sex').value = '';
            renderForm();
            html_index = data.index;
            if (data.index === 0) {
                table_id = 'all_player';
                table_url = '/player/saplayer/'
                table_tool = 'allDemo'
                demo(table_id, table_url, table_tool)
            }
            if (data.index === 1) {
                table_id = 'jx_player';
                table_url = '/player/jxplayer/';
                table_tool = 'jxDemo';
                demo(table_id, table_url, table_tool)
            } else {
                var table = layui.table;
                var name = document.getElementById('name').value;
                var age = document.getElementById('age').value;
                var state = document.getElementById('state').value;
                var where = document.getElementById('where').value;
                var sex = document.getElementById('sex').value;
                table.render({
                    elem: '#sx_player'
                    , url: '/player/sxplayer/'
                    , toolbar: 'sxDemo'
                    , title: '用户数据表'
                    , where: {
                        'name': name,
                        'age': age,
                        'sex': sex,
                        'state': state,
                        'where': where,
                    }
                    , defaultToolbar: ['filter', 'exports', 'print']
                    , method: 'post'
                    , cols: [[
                        {field: 'userid', title: 'ID', width: 80, fixed: 'left'}
                        , {
                            field: 'name', title: '姓名', width: 180, templet: function (data) {
                                return '<p><img style="height:20px;width:20px;border-radius:20px;margin-top:-3px;margin-right:3px" src=http://127.0.0.1:8000/static/' + data.userpic + '/>' + '<span>' + data.name + '</span></p>'
                            }
                        }
                        , {field: 'age', title: '年龄', width: 80}
                        , {field: 'sex', title: '性别', width: 80}
                        , {field: 'height', title: '身高', width: 80}
                        , {field: 'weight', title: '体重', width: 80}
                        , {field: 'body_fat', title: '体脂', width: 80}
                        , {field: 's_reach', title: '站立摸高', width: 120}
                        , {field: 'wingspan', title: '臂展', width: 80}
                        , {field: 'b_press', title: '卧推', width: 80}
                        , {field: 's_run', title: '冲刺跑', width: 80}
                        , {field: 'b_run', title: '折返跑', width: 80}
                        , {field: 'f_basket', title: '罚篮', width: 80}
                        , {field: 'state', title: '状态', width: 80}
                        , {field: 'position', title: '位置', width: 160}
                        , {field: 'palace', title: '住址', width: 300}
                        , {field: 'school', title: '学校', width: 300}
                        , {field: 'where_from', title: '来源', width: 300}
                        , {fixed: 'right', title: '操作', toolbar: '#sxDemo', width: 120}
                    ]]
                    , page: true
                });
                table.on('tool(sx_player)', function (obj) {
                    hsycms.confirm_qy('confirm_qy', '球员合同', 'u_name', obj.data.name,
                        function () {
                            var hetong = document.getElementById('baoz').value;
                            var year = document.getElementById('year').value;
                            var money = document.getElementById('money').value;
                            var jiaoyi = $('#jiaoyi').is(':checked');
                            var p_chance = $('#p_chance').is(':checked');
                            if (p_chance) {
                                var p_year = document.getElementById('p_year').value;
                                data = {
                                    'user_id': obj.data.userid,
                                    'type': hetong,
                                    'year': year,
                                    'money': money,
                                    'jiaoyi': jiaoyi,
                                    'p_chance': p_chance,
                                    'p_year': p_year
                                };
                            } else {
                                data = {
                                    'user_id': obj.data.userid,
                                    'type': hetong,
                                    'year': year,
                                    'money': money,
                                    'jiaoyi': jiaoyi,
                                    'p_chance': p_chance,
                                };
                            }
                            $.ajax({
                                async: true,
                                url: '/player/player_qy/',
                                type: 'post',
                                headers: {"X-CSRFToken": $.cookie("csrftoken")},
                                data: data,
                                success: function (success) {
                                    hsycms.close('confirm_qy');
                                    layer.msg(success['msg']);
                                    table.reload('sx_player', {
                                        where: {
                                            'name': name,
                                            'age': age,
                                            'sex': sex,
                                            'state': state,
                                            'where': where,
                                        },
                                        page: {
                                            curr: 1
                                        }
                                    }, 'data')
                                },
                                error: function (error) {
                                    layer.msg(error['msg'])
                                }
                            })
                        },
                        function (res) {
                        },
                    )
                })
            }
        })

        function demo(some, url, table_tool) {
            var table = layui.table;
            var name = document.getElementById('name').value;
            var age = document.getElementById('age').value;
            var state = document.getElementById('state').value;
            var where = document.getElementById('where').value;
            var sex = document.getElementById('sex').value;
            table.render({
                elem: '#' + some
                , url: url
                , toolbar: table_tool
                , title: '用户数据表'
                , where: {
                    'name': name,
                    'age': age,
                    'sex': sex,
                    'state': state,
                    'where': where,
                }
                , defaultToolbar: ['filter', 'exports', 'print']
                , method: 'post'
                , cols: [[
                    {field: 'userid', title: 'ID', width: 80, fixed: 'left'}
                    , {
                        field: 'name', title: '姓名', width: 180, templet: function (data) {
                            return '<p><img style="height:20px;width:20px;border-radius:20px;margin-top:-3px;margin-right:3px" src=http://127.0.0.1:8000/static/' + data.userpic + '/>' + '<span>' + data.name + '</span></p>'
                        }
                    }
                    , {field: 'age', title: '年龄', width: 80}
                    , {field: 'sex', title: '性别', width: 80}
                    , {field: 'state', title: '状态', width: 80}
                    , {field: 'position', title: '位置', width: 160}
                    , {field: 'palace', title: '住址',}
                    , {field: 'school', title: '学校',}
                    , {field: 'where_from', title: '来源',}
                    , {fixed: 'right', title: '操作', toolbar: '#' + table_tool, width: 120}
                ]]
                , page: true
            });
            table.on('tool(' + some + ')', function (obj) {
                if (some === 'all_player') {
                    add_jx(obj.data.userid, obj.data.name)
                }
                if (some === 'jx_player') {
                    table.on('tool(' + some + ')', function (obj) {
                        if (obj.event === 'del') {
                            hsycms.confirm('confirm', '确认要将' + obj.data.name + '移出集训名单吗？',
                                function () {
                                    $.ajax({
                                        async: true,
                                        url: '/player/remove_to_jx/',
                                        type: 'post',
                                        headers: {"X-CSRFToken": $.cookie("csrftoken")},
                                        data: {
                                            'userid': obj.data.userid
                                        },
                                        success: function (success) {
                                            demo('jx_player', '/player/jxplayer/', 'jxDemo')
                                            layer.msg(success['msg'])
                                        },
                                        error: function (error) {
                                            layer.msg(error['msg'])
                                        }
                                    })
                                },
                                function () {
                                    layer.msg('取消操作')
                                },
                            )
                        } else {
                            hsycms.confirm_sx('confirm_sx', '录入球员数据', 'user_name', obj.data.name,
                                function (res) {
                                    var $input = $('.sx_data input');
                                    var j = 0;
                                    for (var i = 1; i < $input.length; i++) {
                                        if ($input[i].value === '') {
                                            j = j + 1;
                                            $($input[i]).next().css('visibility', 'visible')
                                        }
                                    }
                                    if (j === 0) {
                                        var height = document.getElementById('height').value;
                                        var weight = document.getElementById('weight').value;
                                        var body_fat = document.getElementById('body_fat').value;
                                        var s_reach = document.getElementById('s_reach').value;
                                        var wingspan = document.getElementById('wingspan').value;
                                        var b_press = document.getElementById('b_press').value;
                                        var s_run = document.getElementById('s_run').value;
                                        var b_run = document.getElementById('b_run').value;
                                        var f_basket = document.getElementById('f_basket').value;
                                        var specialty = document.getElementById('specialty').value;
                                        $.ajax({
                                            async: true,
                                            url: '/player/player_sx/',
                                            type: 'post',
                                            headers: {"X-CSRFToken": $.cookie("csrftoken")},
                                            data: {
                                                'userid': obj.data.userid,
                                                'height': height,
                                                'weight': weight,
                                                'body_fat': body_fat,
                                                's_reach': s_reach,
                                                'wingspan': wingspan,
                                                'b_press': b_press,
                                                's_run': s_run,
                                                'b_run': b_run,
                                                'f_basket': f_basket,
                                                'specialty': specialty,
                                            },
                                            success: function (success) {
                                                hsycms.close('confirm_sx');
                                                demo('jx_player', '/player/jxplayer/', 'jxDemo')
                                                layer.msg(success['msg'])
                                            },
                                            error: function (error) {
                                                layer.msg(error['msg'])
                                            }
                                        })
                                    }
                                },
                                function (res) {
                                },
                            )
                        }
                    })
                } else {

                }
            })

        }
    })
</script>
</body>
</html>