<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的团队</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/system_showall.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <script src="{% static 'js/jQuery-3.5.1-min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
</head>
<body>
{% include 'system_index.html' %}
<div class="body">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">全部</li>
            <li>球员</li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="" method="post">
                    {% csrf_token %}
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">球员名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="" id="name" lay-verify="title" autocomplete="off"
                                   placeholder="请输入球员名字"
                                   class="layui-input" style="width: 300px;margin-left: -10px">
                        </div>
                    </div>
                    <i class="layui-btn layui-btn-primary layui-icon layui-icon-search"
                       style="font-size: 24px;margin-top: -5px;margin-left: -9px" id="showall_select"></i>
                    <button class="layui-btn layui-btn-primary" style="margin-top: -5px">重置</button>
                    <br>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">年&nbsp;&nbsp;&nbsp;&nbsp;龄</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-filter="all_team" lay-search="all_team"
                                    id="age">
                                <option value="">请选择年龄</option>
                                <option value="1">0-20</option>
                                <option value="2">20-30</option>
                                <option value="3">30-100</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-filter="all_team" lay-search="all_team"
                                    id="sex">
                                <option value="">请选择性别</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">角&nbsp;&nbsp;&nbsp;&nbsp;色</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-filter="all_team" lay-search="all_team"
                                    id="role">
                                <option value="">请选择角色</option>
                                <option value="老板">老板</option>
                                <option value="教练">教练</option>
                                <option value="球探">球探</option>
                                <option value="球员">球员</option>
                            </select>
                        </div>
                    </div>
                </form>
                <table class="layui-hide" id="team" lay-filter="team"></table>
                <script type="text/html" id="allDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="details">编辑</a>
                </script>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form" action="" method="post">
                    {% csrf_token %}
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">球员名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="" id="p_name" lay-verify="title" autocomplete="off"
                                   placeholder="请输入球员名字"
                                   class="layui-input" style="width: 300px;margin-left: -10px">
                        </div>
                    </div>
                    <i class="layui-btn layui-btn-primary layui-icon layui-icon-search"
                       style="font-size: 24px;margin-top: -5px;margin-left: -9px" id="player_select"></i>
                    <p class="layui-btn layui-btn-primary" style="margin-top: 3px" id="chong">重置</p>
                    <br>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">年&nbsp;&nbsp;&nbsp;&nbsp;龄</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-filter="showall_player" lay-search="showall_player"
                                    id="p_age">
                                <option value="">请选择年龄</option>
                                <option value="1">0-20</option>
                                <option value="2">20-30</option>
                                <option value="3">30-100</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-filter="showall_player" lay-search="showall_player"
                                    id="p_sex">
                                <option value="">请选择性别</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">状&nbsp;&nbsp;&nbsp;&nbsp;态</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-filter="showall_player" lay-search="showall_player"
                                    id="p_status">
                                <option value="">请选择状态</option>
                                <option value="健康">健康</option>
                                <option value="伤病">伤病</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">位&nbsp;&nbsp;&nbsp;&nbsp;置</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-verify="required" lay-filter="showall_player" lay-search="showall_player"
                                    id="p_position">
                                <option value="">请选择球员位置</option>
                                <option value="控球后卫">控球后卫</option>
                                <option value="得分后卫">得分后卫</option>
                                <option value="小前锋">小前锋</option>
                                <option value="大前锋">大前锋</option>
                                <option value="中锋">中锋</option>
                            </select>
                        </div>
                    </div>

                </form>
                <table class="layui-hide" id="all_player" lay-filter="all_player"></table>
                <script type="text/html" id="playerDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="details">解约</a>
                </script>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    function renderForm() {
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    }
    $('#chong').click(function () {
        document.getElementById('p_name').value='';
        document.getElementById('p_age').value='';
        document.getElementById('p_sex').value='';
        document.getElementById('p_status').value='';
        document.getElementById('p_position').value='';
        renderForm()
        get_playerdate()
    })
    layui.use('form', function () {
        var form = layui.form;
        form.on('select(all_team)', function () {
            get_date()
        });
        form.on('select(showall_player)',function () {
            get_playerdate()
        })
    })
    $('#showall_select').click(function () {
        get_date();
    });
    $('#player_select').click(function () {
        get_playerdate();
    });
    function get_playerdate(){
        var p_name = document.getElementById('p_name').value;
        var p_age = document.getElementById('p_age').value;
        var p_sex = document.getElementById('p_sex').value;
        var p_state = document.getElementById('p_status').value;
        var p_position = document.getElementById('p_position').value;
        var table = layui.table;
        table.reload('all_player', {
            where: {
                'p_name': p_name,
                'p_age': p_age,
                'p_sex': p_sex,
                'p_state': p_state,
                'p_position': p_position,
            },
            page: {
                curr: 1
            }
        }, 'data')
    }
    function get_date() {
        var name = document.getElementById('name').value;
        var age = document.getElementById('age').value;
        var sex = document.getElementById('sex').value;
        var role = document.getElementById('role').value;
        var table = layui.table;
        table.reload('team', {
            where: {
                'name': name,
                'age': age,
                'sex': sex,
                'role': role,
            },
            page: {
                curr: 1
            }
        }, 'data')
    }

    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element;

    });
    layui.use('table', function () {
        var table = layui.table;
        var name = document.getElementById('name').value;
        var age = document.getElementById('age').value;
        var role = document.getElementById('role').value;
        var sex = document.getElementById('sex').value;
        table.render({
            elem: '#team'
            , url: '/player/show_all/'
            , toolbar: 'allDemo'
            , title: '用户数据表'
            , where: {
                'name': name,
                'age': age,
                'role': role,
                'sex': sex,
            }
            , defaultToolbar: ['filter', 'exports', 'print']
            , method: 'post'
            , cols: [[
                {field: 'userid', title: 'ID', width: 80, fixed: 'left'}
                , {
                    field: 'name', title: '姓名', width: 220, templet: function (data) {
                        return '<p><img style="height:20px;width:20px;border-radius:20px;margin-top:-3px;margin-right:3px" src=http://127.0.0.1:8000/static/' + data.userpic + '/>' + '<span>' + data.name + '</span></p>'
                    }
                }
                , {field: 'age', title: '年龄', width: 120}
                , {field: 'sex', title: '性别', width: 160}
                , {field: 'role', title: '角色', width: 160}
                , {field: 'palace', title: '住址',}
                , {field: 'school', title: '学校',}
                , {fixed: 'right', title: '操作', toolbar: '#allDemo', width: 150}
            ]]
            , page: true
        });
        var p_name = document.getElementById('p_name').value;
        var p_age = document.getElementById('p_age').value;
        var p_sex = document.getElementById('p_sex').value;
        var p_state = document.getElementById('p_status').value;
        var p_position = document.getElementById('p_position').value;
        table.render({
            elem: '#all_player'
            , url: '/player/show_player/'
            , toolbar: 'playerDemo'
            , where: {
                'p_name': p_name,
                'p_age': p_age,
                'p_sex': p_sex,
                'p_state': p_state,
                'p_position': p_position,
            }
            , title: '用户数据表'
            , defaultToolbar: ['filter', 'exports', 'print']
            , method: 'post'
            , cols: [[
                {field: 'userid', title: 'ID', width: 80, fixed: 'left'}
                , {
                    field: 'name', title: '姓名', width: 140, templet: function (data) {
                        return '<p><img style="height:20px;width:20px;border-radius:20px;margin-top:-3px;margin-right:3px" src=http://127.0.0.1:8000/static/' + data.userpic + '/>' + '<span>' + data.name + '</span></p>'
                    }
                }
                , {field: 'age', title: '年龄', width: 80}
                , {field: 'sex', title: '性别', width: 80}
                , {field: 'state', title: '状态', width: 80}
                , {field: 'palace', title: '住址',}
                , {field: 'school', title: '学校',}
                , {field: 'position', title: '位置',}
                , {field: 'specialty', title: '技术特点',}
                , {fixed: 'right', title: '操作', toolbar: '#allDemo', width: 150}
            ]]
            , page: true
        })
    })
</script>
</html>
