<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>球员数据</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/hsycmsAlert.css' %}">
    <link rel="stylesheet" href="{% static 'css/system_record_player.css' %}">
    <script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/hsycmsAlert.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
</head>
<body>
<form class="layui-form" action="" method="post">
    {% csrf_token %}
    <div class="layui-inline">
        <label class="layui-form-label" style="width: 100px">球员名称</label>
        <div class="layui-input-block">
            <input type="text" name="main_title" id="main_title" lay-verify="title" autocomplete="off"
                   placeholder="请输入名称"
                   class="layui-input" style="width: 300px;margin-left: -10px">
        </div>
    </div>
    <i class="layui-btn layui-btn-primary layui-icon layui-icon-search"
       style="font-size: 24px;margin-top: -5px;margin-left: -9px" id="select_data"></i>
    <p class="layui-btn layui-btn-primary" style="margin-top: -5px" id="chong">重置</p>
    <br>
    <div class="layui-inline">
        <label class="layui-form-label" style="width: 100px">赛&nbsp;&nbsp;&nbsp;&nbsp;季</label>
        <div class="layui-input-inline">
            <select name="modules" lay-verify="required" lay-filter="all_player" lay-search="all_player"
                    id="main_season">
                <option value="">请选择赛季</option>
            </select>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label" style="width: 100px">球&nbsp;&nbsp;&nbsp;&nbsp;员</label>
        <div class="layui-input-inline">
            <select name="modules" lay-verify="required" lay-filter="all_player" lay-search="all_player"
                    id="main_player">
                <option value="">请选择球员</option>
            </select>
        </div>
    </div>
</form>
<script type="text/html" id="toolbarplayer">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn" onclick="open_create()">
            录入球员数据
        </button>
    </div>
</script>
<table class="layui-hide" id="test" lay-filter="test">
    <th lay-data="{field:'battle', width: 200, templet: '#battle'}">赛程</th>
</table>
<div class="hsycms-model-mask" id="mask-confirm"></div>
<div class="hsycms-model hsycms-model-confirm" id="confirm" style="width: 400px;height: 300px">
    <div class="hscysm-model-title" style="height: 40px;background-color: #2e3338;padding: 0">
        <p>选择赛季</p>
        <p class="layui-icon layui-icon-close-fill" id="close"></p>
    </div>
    <div class="open_context">
        <p><span class="layui-icon layui-icon-about"></span>请选择一个赛季</p>
        <div class="layui-form-item" style="width: 360px">
            <form class="layui-form layui-form-pane" action="">
                <select name="saiji" lay-verify="" id="season">
                    <option value="">请选择一个赛季</option>
                </select>
            </form>
        </div>
    </div>
    {#    <div class="hsycms-model-btn">#}
    {#        <button type="button" class="cancel">取消</button>#}
    {#        <button type="button" class="ok">确定</button>#}
    {#    </div>#}
    <div style="display: flex;align-items: center;justify-content: center;">
        <button type="button" class="layui-btn" style="width: 100%;margin-top: 2px" onclick="open_season()">确定</button>
    </div>
</div>
<div class="create_season">
    <div class="context">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>录入球员数据</legend>
        </fieldset>
        <p>赛&nbsp;&nbsp;&nbsp;&nbsp;季：<span id="season_name"></span></p>
        <form class="layui-form" action="" method="post">
            {% csrf_token %}
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">球&nbsp;&nbsp;&nbsp;&nbsp;员</label>
                <div class="layui-input-inline">
                    <select name="player_id" lay-verify="player" lay-filter="player" lay-search="player" id="player">
                        <option value="">请选择球员</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">赛&nbsp;&nbsp;&nbsp;&nbsp;程</label>
                <div class="layui-input-inline" style="width: 400px">
                    <select name="schedule_id" lay-verify="schedule" lay-search="schedule" id="schedule" disabled>
                        <option value="">请选择赛程</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">时&nbsp;&nbsp;&nbsp;&nbsp;间</label>
                    <div class="layui-input-inline">
                        <input type="number" name="time" required lay-verify="required" placeholder="请输入上场时间(min)"
                               autocomplete="off" class="layui-input"
                               onblur="if(value<0){value=0}else{value=Math.round(value*100)/100}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">得&nbsp;&nbsp;&nbsp;&nbsp;分</label>
                    <div class="layui-input-inline">
                        <input type="number" name="score" required lay-verify="required" placeholder="请输入球员得分"
                               autocomplete="off" class="layui-input"
                               onblur="if (value<=0){value=0}else{value=Math.floor(value)}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">投&nbsp;&nbsp;&nbsp;&nbsp;篮</label>
                    <div class="layui-input-inline">
                        <input type="text" name="shoot" required lay-verify="required" placeholder="请输入投篮(出手数-命中数)"
                               autocomplete="off" class="layui-input" onblur="if(!clearNumber(value)){value='0-0'}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">三&nbsp;&nbsp;&nbsp;&nbsp;分</label>
                    <div class="layui-input-inline">
                        <input type="text" name="three_points" required lay-verify="required"
                               placeholder="请输入三分(出手数-命中数)"
                               autocomplete="off" class="layui-input" onblur="if(!clearNumber(value)){value='0-0'}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">罚&nbsp;&nbsp;&nbsp;&nbsp;球</label>
                    <div class="layui-input-inline">
                        <input type="text" name="free_throw" required lay-verify="required"
                               placeholder="请输入罚球(出手数-命中数)"
                               autocomplete="off" class="layui-input" onblur="if(!clearNumber(value)){value='0-0'}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">助&nbsp;&nbsp;&nbsp;&nbsp;攻</label>
                    <div class="layui-input-inline">
                        <input type="number" name="assists" required lay-verify="required" placeholder="请输入球员助攻数"
                               autocomplete="off" class="layui-input"
                               onblur="if (value<=0){value=0}else{value=Math.floor(value)}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">前&nbsp;&nbsp;&nbsp;&nbsp;场</label>
                    <div class="layui-input-inline">
                        <input type="text" name="front_court" required lay-verify="required" placeholder="请输入球员前场篮板数"
                               autocomplete="off" class="layui-input"
                               onblur="if (value<=0){value=0}else{value=Math.floor(value)}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">后&nbsp;&nbsp;&nbsp;&nbsp;场</label>
                    <div class="layui-input-inline">
                        <input type="number" name="back_court" required lay-verify="required" placeholder="请输入球员后场篮板数"
                               autocomplete="off" class="layui-input"
                               onblur="if (value<=0){value=0}else{value=Math.floor(value)}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">盖&nbsp;&nbsp;&nbsp;&nbsp;帽</label>
                    <div class="layui-input-inline">
                        <input type="number" name="block_shot" required lay-verify="required" placeholder="请输入球员盖帽数"
                               autocomplete="off" class="layui-input"
                               onblur="if (value<=0){value=0}else{value=Math.floor(value)}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">抢&nbsp;&nbsp;&nbsp;&nbsp;断</label>
                    <div class="layui-input-inline">
                        <input type="number" name="snatch" required lay-verify="required" placeholder="请输入球员抢断数"
                               autocomplete="off" class="layui-input"
                               onblur="if (value<=0){value=0}else{value=Math.floor(value)}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">失&nbsp;&nbsp;&nbsp;&nbsp;误</label>
                    <div class="layui-input-inline">
                        <input type="number" name="error" required lay-verify="required" placeholder="请输入球员失误数"
                               autocomplete="off" class="layui-input"
                               onblur="if (value<=0){value=0}else{value=Math.floor(value)}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px">犯&nbsp;&nbsp;&nbsp;&nbsp;规</label>
                    <div class="layui-input-inline">
                        <input type="number" name="break_rules" required lay-verify="required" placeholder="请输入球员犯规数"
                               autocomplete="off" class="layui-input"
                               onblur="if (value<=0){value=0}else{value=Math.floor(value)}">
                    </div>
                </div>
            </div>
            <div class="layui-form-item anniu">
                <div class="layui-input-block">
                    <p class="layui-btn layui-btn-primary" style="margin-top: 10px" onclick="close_wind()">取消</p>
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="add_player_data">确认</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function close_wind() {
        $('.create_season').css('display', 'none');
    }

    $('#chong').click(function () {
        document.getElementById('main_title').value = '';
        document.getElementById('main_season').value = '';
        document.getElementById('main_player').value = '';
        renderForm();
        get_data()
    });
    {# 这里是正则匹配输入投篮类型的规则 #}
    $(document).ready(function () {
        $.ajax({
            async: true,
            url: '/player/select_player/',
            type: 'post',
            headers: {"X-CSRFToken": $.cookie("csrftoken")},
            data: [],
            success: function (date) {
                jsonDate = JSON.stringify(date['data']);
                $.each(JSON.parse(jsonDate), function (i, item) {
                    var option = "<option value=" + item.id + ">" + item.name + "</option>";
                    $("#main_player").append(option);
                    renderForm();
                    {#form.render();#}
                });
            },
            error: function (msg) {
                layer.msg(JSON.stringify(msg['msg']))
            }
        });
        $.ajax({
           async: true,
            url: '/player/select_team/',
            type: 'post',
            headers: {"X-CSRFToken": $.cookie("csrftoken")},
            data: [],
            success: function (date) {
                {#console.log(date)#}
                jsonDate = JSON.stringify(date['data']);
                $.each(JSON.parse(jsonDate), function (i, item) {
                    {#console.log(item.name);#}
                    var option = "<option value=" + item.id + ">" + item.name + "</option>";
                    $("#all_team").append(option);
                    renderForm();
                });
            },
            error: function (msg) {
                layer.msg('接口报错')
            }
        });
        $.ajax({
            async: true,
            url: '/player/select_season/',
            type: 'post',
            headers: {"X-CSRFToken": $.cookie("csrftoken")},
            data: [],
            success: function (date) {
                {#console.log(date)#}
                jsonDate = JSON.stringify(date['data']);
                $.each(JSON.parse(jsonDate), function (i, item) {
                    {#console.log(item.name);#}
                    var option = "<option value=" + item.id + ">" + item.name + "</option>";
                    $("#season").append(option);
                    $("#main_season").append(option);
                    $("#all_season").append(option);
                    renderForm();
                });
            },
            error: function (msg) {
                layer.msg('接口报错')
            }
        });
    });

    function clearNumber(obj) {
        var objRegExp = /^[\d]+-[\d]+$/;
        {#console.log(objRegExp.test(obj));#}
        return objRegExp.test(obj);
    }

    var season_id;
    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(add_player_data)', function (data) {
            if (data.field.player_id === '' || data.field.schedule_id === '') {
                layer.msg('球员或赛程不能为空');
                return false;
            } else {
                $.ajax({
                    async: true,
                    url: '/player/add_playerdata/',
                    type: 'post',
                    headers: {"X-CSRFToken": $.cookie("csrftoken")},
                    data: JSON.stringify(data.field),
                    success: function (success) {
                        $('.create_season').css('display', 'none');
                        {#renderForm();#}
                        console.log(success)

                    },
                    error: function (error) {
                        layer.msg('接口访问失败');
                        return false;
                    }
                });
                get_data();
                return false
            }
        });
        form.on('select(player)', function (data) {
            if (data.value === '') {
                document.getElementById('schedule').value = '';
                $('#schedule').attr("disabled", true);
                renderForm()
            } else {
                $('#schedule').attr("disabled", false);
                renderForm();
                $.ajax({
                    async: true,
                    url: '/player/player_schedule/',
                    type: 'post',
                    headers: {"X-CSRFToken": $.cookie("csrftoken")},
                    data: {
                        'season_id': season_id,
                        'player_id': data.value
                    },
                    success: function (date) {
                        $('.b').remove();
                        jsonDate = JSON.stringify(date['data']);
                        $.each(JSON.parse(jsonDate), function (i, item) {
                            var option = "<option class='b' value=" + item.schedule_id + ">" + item.msg + "</option>";
                            $("#schedule").append(option);
                            renderForm();
                            {#form.render();#}
                        });
                    },
                    error: function (error) {
                        layer.msg(JSON.stringify(error['msg']))
                    }
                })
            }
        });
        form.on('select(all_player)', function () {
            get_data();
        });
        form.on('select(all_team)',function () {
            get_teamdata()
        })
    });
    $('#select_data').click(function () {
        get_data();
    });
    $('#select_teamdata').click(function () {
        get_teamdata()
    });
    function get_teamdata() {
        var team_title = document.getElementById('team_title').value;
        var all_team = document.getElementById('all_team').value;
        var all_season = document.getElementById('all_season').value;
        var all_type = document.getElementById('all_type').value;
        var table = layui.table;
        table.reload('team',{
            where:{
                'team_title': team_title,
                'all_team': all_team,
                'all_season': all_season,
                'all_type': all_type,
            },page:{
                curr:1
            }
        },'data')
    }
    function get_data() {
        var main_title = document.getElementById('main_title').value;
        var main_season = document.getElementById('main_season').value;
        var main_player = document.getElementById('main_player').value;
        var table = layui.table;
        table.reload('test', {
            cols: [[
                {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true, totalRowText: '汇总'}
                , {field: 'name', title: '名字', width: 120}
                , {field: 'battle', title: '赛程', width: 220, hide: main_player === ''}
            ]],
            where: {
                'main_title': main_title,
                'main_season': main_season,
                'main_player': main_player
            },
            page: {
                curr: 1
            }
        }, 'data')
    }

    function open_season() {
        var season = document.getElementById('season').value;
        if (season === '') {
            layer.msg('赛季不能为空')
        } else {
            hsycms.close('confirm');
            $.ajax({
                async: true,
                url: '/player/select_players/',
                headers: {"X-CSRFToken": $.cookie("csrftoken")},
                type: 'post',
                data: {
                    'season_id': season
                },
                success: function (date) {
                    $('.create_season').css('display', 'block');
                    $('#season_name').text(date['data'][0]['season_name']);
                    season_id = date['data'][0]['season_id'];
                    for (var i = 1; i < date['data'].length; i++) {
                        var option = "<option value=" + date['data'][i].player_id + ">" + date['data'][i].player_name + "</option>";
                        $("#player").append(option);
                        renderForm();
                    }
                },
                error: function () {
                    layer.msg('查询赛季失败')
                }
            });
        }
    }

    function renderForm() {
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    }

    $('#close').click(function () {
        hsycms.close('confirm')
    });

    function open_create() {
        hsycms.confirm('confirm', '选择赛季',
            function () {
                {#console.log(document.getElementById('season').value);#}
            },
            function (res) {
                layer.msg('取消删除')
            },
        );
    }

    layui.use('table', function () {
        var table = layui.table;
        var main_title = document.getElementById('main_title').value;
        var main_season = document.getElementById('main_season').value;
        var main_player = document.getElementById('main_player').value;
        table.render({
            elem: '#test'
            , url: '/player/record_player/'
            , toolbar: '#toolbarplayer'
            , title: '用户数据表'
            , where: {
                'main_title': main_title,
                'main_season': main_season,
                'main_player': main_player
            }
            , method: 'post'
            , totalRow: true
            , cols: [[
                {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true, totalRowText: '汇总'}
                , {field: 'name', title: '名字', width: 120}
                , {field: 'battle', title: '赛程', width: 220, hide: true}
                , {field: 'score', title: '得分', width: 80, sort: true, totalRow: true}
                , {field: 'time', title: '时间', width: 80, sort: true, totalRow: true}
                , {field: 'shoot', title: '出手次数', width: 120, sort: true, totalRow: true}
                , {field: 'hit', title: '命中率', width: 100, sort: true, templet: ({hit}) => `${hit}%`}
                , {field: 'three_points', title: '三分次数', width: 120, sort: true, totalRow: true}
                , {
                    field: 'three_hit',
                    title: '三分命中率',
                    width: 120,
                    sort: true,
                    templet: ({three_hit}) => `${three_hit}%`
                }
                , {field: 'free_throw', title: '罚球次数', width: 120, sort: true, totalRow: true}
                , {
                    field: 'hit_throw',
                    title: '罚球命中率',
                    width: 120,
                    sort: true,
                    templet: ({hit_throw}) => `${hit_throw}%`
                }
                , {field: 'all_court', title: '篮板', width: 80, sort: true, totalRow: true}
                , {field: 'front_court', title: '前场', width: 80, sort: true, totalRow: true}
                , {field: 'back_court', title: '后场', width: 80, sort: true, totalRow: true}
                , {field: 'assists', title: '助攻', width: 80, sort: true, totalRow: true}
                , {field: 'snatch', title: '抢断', width: 80, sort: true, totalRow: true}
                , {field: 'block_shot', title: '盖帽', width: 80, sort: true, totalRow: true}
                , {field: 'error', title: '失误', width: 80, sort: true, totalRow: true}
                , {field: 'break_rules', title: '犯规', width: 80, sort: true, totalRow: true}
            ]]
            , page: true
            , response: {
                statusCode: 0 //重新规定成功的状态码为 200，table 组件默认为 0
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });
        var team_title = document.getElementById('team_title').value;
        var all_team = document.getElementById('all_team').value;
        var all_season = document.getElementById('all_season').value;
        var all_type = document.getElementById('all_type').value;
        table.render({
            elem: '#team'
            , url: '/player/show_teamrecord/'
            , toolbar: true
            , title: '用户数据表'
            , where:{
                'team_title': team_title,
                'all_team': all_team,
                'all_season': all_season,
                'all_type': all_type,
            }
            , defaultToolbar: []
            , method: 'post'
            , cols: [[
                {field: 'id', title: 'ID', width: 80, fixed: 'left'}
                , {field: 'time', title: '时间', width: 220}
                , {field: 'type', title: '类型', width: 120}
                , {field: 'team_area', title: '球馆', width: 160}
                , {
                    field: 'team_one', title: '主场球队', width: 220, templet: function (data) {
                        return '</p><img style="height:20px;width:20px;border-radius:20px;margin-top:-3px;margin-right:3px" src=http://127.0.0.1:8000/static/' + data.team_onepic + '/>' + '<span>' + data.team_one + '</span></p>'
                    }
                }
                , {
                    field: 'one_score', title: '比分', width: 150, templet: function (data) {
                        return data.one_score + '—' + data.two_score
                    }
                }
                , {
                    field: 'team_two', title: '客场球队', width: 220, templet: function (data) {
                        return '</p><img style="height:20px;width:20px;border-radius:20px;margin-top:-3px;margin-right:3px" src=http://127.0.0.1:8000/static/' + data.team_twopic + '/>' + '<span>' + data.team_two + '</span></p>'
                    }
                }
                , {field: 'result', title: '结果', width: 120}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
            ]]
            , page: true
        });
        table.on('tool(team)', function (obj) {
            var data = obj.data.id;
            if (obj.event === 'details') {
                $.ajax({
                    async: true,
                    url: '/player/team_contrast/',
                    type: 'post',
                    headers: {"X-CSRFToken": $.cookie("csrftoken")},
                    data: {
                        'schedule_id': data
                    },
                    success: function (success) {
                        console.log(success['data'][0]);
                        document.getElementById('team_onename').innerHTML = obj.data.team_one;
                        document.getElementById('tean_twoname').innerHTML = obj.data.team_two;
                        const text = document.getElementById('text').getElementsByTagName('ul')[0];
                        const maps = ['得分', '出手数','命中率', '三个出手', '三分命中率','罚球得分','罚球命中率','篮板','前场篮板','后场篮板','助攻','盖帽','抢断','失误','犯规'];
                        const result = maps.map(i => `<li>${i}</li>`).join('');
                        text.innerHTML = result;
                        const right = document.getElementById('right');
                        const maps2 = success['data'][1];
                        function insertStyleSheetRule(ruleText) {
                            let sheets = document.styleSheets;
                            if (sheets.length == 0) {
                                let style = document.createElement('style');
                                style.appendChild(document.createTextNode(""));
                                document.head.appendChild(style);
                            }
                            let sheet = sheets[sheets.length - 1];
                            sheet.insertRule(ruleText, sheet.rules ? sheet.rules.length : sheet.cssRules.length);
                        }
                        insertStyleSheetRule("@keyframes s { 0% { width: 0 } }");
                        insertStyleSheetRule("dt" + "{ " +
                            "animation: s 1s ease-in-out" +
                            "}");
                        const result2 = maps2.map(({value, percent}) => `
      <dl style="margin: 8px 0; display: flex">
        <dt title="${percent}" class="right" style="width: ${percent}; background-color: pink; height: 20px; margin-right: 12px;"></dt>
        </dd>${value}</dd>
      </dl>`
                        ).join('');
                        right.innerHTML = result2;
                        const left = document.getElementById('left');
                        const maps3 = success['data'][0];
                        const result3 = maps3.map(({value, percent}) => `
      <dl style="margin: 8px 0; display: flex; justify-content: flex-end;">
        <dd>${value}</dd>
        <dt style="width: ${percent}; background-color: skyblue; height: 20px; margin-left: 12px"></dt>
      </dl>`
                        ).join('');
                        left.innerHTML = result3;
                        hsycms.confirm('confirm_sx', '数据对比详情',
                            function () {

                            }, function () {

                            })
                    },
                    error: function (error) {
                        layer.msg('接口访问失败')
                    }
                })
            }
        });
    });
    $('#colse_contrast').click(function () {
        hsycms.close('confirm_sx')
    });
</script>
</body>
</html>