<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>命令中心</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/system_command.css' %}">
    <link rel="stylesheet" href="{% static 'css/hsycmsAlert.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <script src="{% static 'js/jQuery-3.5.1-min.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
</head>
<body>
{% include 'system_index.html' %}
<div class="body">
    <form class="layui-form" action="" style="margin-top: 20px" method="post">
        {% csrf_token %}
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 100px">任务标题</label>
            <div class="layui-input-block">
                <input type="text" name="main_title" id="command_title" lay-verify="title" autocomplete="off"
                       placeholder="请输入任务名称"
                       class="layui-input" style="width: 300px;margin-left: -10px">
            </div>
        </div>
        <i class="layui-btn layui-btn-primary layui-icon layui-icon-search"
           style="font-size: 24px;margin-top: -5px;margin-left: -9px" id="command_select"></i>
        <button class="layui-btn layui-btn-primary" style="margin-top: -5px" id="chong">重置</button>
        <br>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 100px">负责教练</label>
            <div class="layui-input-inline">
                <select name="modules" lay-verify="required" lay-search="jiaolian" id="command_coach">
                    <option value="">请选择负责教练</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 100px">执行球员</label>
            <div class="layui-input-inline">
                <select name="modules" lay-verify="required" lay-search="start_player" id="command_player">
                    <option value="">请选择执行球员</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 100px">任务状态</label>
            <div class="layui-input-inline">
                <select name="modules" lay-verify="required" lay-search="start_player" id="command_status">
                    <option value="">请选择任务状态</option>
                    <option value="未开始">未开始</option>
                    <option value="进行中">进行中</option>
                    <option value="已结束">已结束</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 100px">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" name="modules" class="layui-input" id="test6" placeholder="请输入时间范围"
                       style="width: 200px">
            </div>
        </div>
    </form>
    <table class="layui-hide" id="test" lay-filter="test"></table>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn" onclick="window.open('/player/create_command/',target='_self')">
                新建命令
            </button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

</div>
</body>
<script>
    $(document).ready(function () {
        $.ajax({
            async: true,
            url: '/player/select_coach/',
            type: 'post',
            headers: {"X-CSRFToken": $.cookie("csrftoken")},
            data: [],
            success: function (date) {
                jsonDate = JSON.stringify(date['data']);
                $.each(JSON.parse(jsonDate), function (i, item) {
                    {#console.log(item.name);#}
                    var option = "<option value=" + item.id + ">" + item.name + "</option>";
                    $("#command_coach").append(option);
                    renderForm();
                });
            },
            error: function (msg) {
                alert('错误')
            }
        });
        $.ajax({
            async: true,
            url: '/player/select_player/',
            type: 'post',
            headers: {"X-CSRFToken": $.cookie("csrftoken")},
            data: [],
            success: function (date) {
                jsonDate = JSON.stringify(date['data']);
                $.each(JSON.parse(jsonDate), function (i, item) {
                    var option = "<option value=" + item.id + ">" + item.name + "</option>";
                    $("#command_player").append(option);
                    renderForm();
                    {#form.render();#}
                });
            },
            error: function (msg) {
                layer.msg(JSON.stringify(msg['msg']))
            }
        });
    });
    layui.use('table', function () {
        var table = layui.table;
        var command_title = document.getElementById('command_title').value;
        var command_coach = document.getElementById('command_coach').value;
        var command_player = document.getElementById('command_player').value;
        var command_status = document.getElementById('command_status').value;
        var time = document.getElementById('test6').value;
        table.render({
            elem: '#test'
            , url: '/player/show_command/'
            , method: 'post'
            , toolbar: '#toolbarDemo'
            , where: {
                'command_title': command_title,
                'command_coach': command_coach,
                'command_player': command_player,
                'command_status': command_status,
                'command_time': time,
            }
            , defaultToolbar: ['filter', 'exports', 'print']
            , title: '用户数据表'
            , cols: [[
                {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true}
                , {
                    field: 'title', title: '任务名', width: 180, templet: function (obj) {
                        if (obj.status === '未开始') {
                            return '<p>' + obj.title + '<span class="layui-badge layui-bg-green">未开始</span></p>'
                        }
                        if (obj.status === '进行中') {
                            return '<p>' + obj.title + '<span class="layui-badge">进行中</span></p>'
                        } else {
                            return '<p>' + obj.title + '<span class="layui-badge layui-bg-gray">已结束</span></p>'
                        }
                    }
                }
                , {field: 'main_player', title: '负责教练', width: 120}
                , {field: 'player', title: '球员', width: 220}
                , {field: 'sum_pass', title: '达标标准', width: 120}
                , {field: 'sum_pull', title: '满分标准', width: 120}
                , {field: 'create_time', title: '创建时间', width: 180, sort: true}
                , {field: 'start_time', title: '开始时间', width: 180, sort: true}
                , {field: 'end_time', title: '结束时间', width: 180, sort: true}
                , {field: 'status', title: '状态', width: 120,}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
            ]]
            , page: true
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.email
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });
    layui.use('form', function () {
        var form = layui.form;
        form.on('select', function (data) {
            var time = document.getElementById('test6').value;
            get_date(time)
        });
    });
    $('#command_select').click(function () {
        var time = document.getElementById('test6').value;
        get_date(time);
    });

    function get_date(time) {
        var command_title = document.getElementById('command_title').value;
        var command_coach = document.getElementById('command_coach').value;
        var command_player = document.getElementById('command_player').value;
        var command_status = document.getElementById('command_status').value;
        var table = layui.table;
        table.reload('test', {
            where: {
                'command_title': command_title,
                'command_coach': command_coach,
                'command_player': command_player,
                'command_status': command_status,
                'command_time': time,
            },
            page: {
                curr: 1
            }
        }, 'data')
    }

    function renderForm() {
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    }

    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#test6'
            , range: '至'
            , done:function (value){
                get_date(value)
            }
        });
    });
</script>
</html>